<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ajouter une dépense
      </mat-panel-title>
      <mat-panel-description>
        
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="form-group col-lg-3">
        <mat-form-field>
          <input matInput placeholder="nom de la dépense" id="nomAjoutDepense"> 
        </mat-form-field>
      </div>
      <div class="form-group col-lg-7">
        <mat-form-field style='width: 100%'>
          <input matInput placeholder="description de la dépense" id="descriptionAjoutDepense">
        </mat-form-field>
      </div>
    </div>
    <button   (click)="AjouteListDepense();"
              mat-button 
              class='matButton'
              matTooltip="Sauvegarder les modification"
    >Ajouter</button>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        liste de vos type de dépense
      </mat-panel-title>
      <mat-panel-description>
        
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngFor="let itemDepense of _tab_sTypesDepense; let i=index">
        <form [formGroup]="_oFormTypeDepense" (ngSubmit)="modifieTypeDepense(i, itemDepense._id, _oFormTypeDepense)">
            <div class="row">
              <div class="form-group col-lg-2" style="padding-top: 15px;">
                  Nom : 
              </div>
              <div class="form-group col-lg-3">
                <mat-form-field>
                  <input  matInput 
                          [placeholder]="itemDepense.sNom" 
                          name="nom{{i}}"
                          id="nom{{i}}"
                          formControlName="nom"
                          >
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-2" style="padding-top: 15px;">
                  description : 
              </div>
              <div class="form-group col-lg-3">
                <mat-form-field>
                  <input  matInput 
                          [placeholder]="itemDepense.sDescription" 
                          name="description{{i}}"
                          id="description{{i}}"
                          formControlName="description"
                          >
                </mat-form-field>
              </div>
              <div class="form-group offset-lg-4 col-lg-3">
                <button   type="submit" 
                          mat-button 
                          class="btnSaveProfilChange"
                          matTooltip="Sauvegarder les modification"
                          >
                  save change
                </button>
              </div>
            </div>
            </form>
      <mat-divider></mat-divider>
    </div>
  </mat-expansion-panel>
</mat-accordion>




