<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ajouter une dépense
      </mat-panel-title>
      <mat-panel-description>
        
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="form-group col-lg-3">
        <mat-form-field>
          <input matInput placeholder="nom de la dépense" id="nomAjoutDepenseFixe"> 
        </mat-form-field>
      </div>
      <div class="form-group col-lg-2">
        <mat-form-field>
          <input matInput placeholder="montant (€)" id="montantAjoutDepenseFixe"> 
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-7">
        <mat-form-field style='width: 100%'>
          <input matInput placeholder="description de la dépense" id="descriptionAjoutDepenseFixe">
        </mat-form-field>
      </div>
    </div>
    <button (click)="AjouteDepenseFixe();" class="btn btn-warning">Ajouter</button>  
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        liste de vos dépenses fixes
      </mat-panel-title>
      <mat-panel-description>
        
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngFor="let itemDepense of _tab_sDepenseFixe; let i=index">
        <form [formGroup]="_oFormDepenseFixe" (ngSubmit)="modifieDepenseFixe(i, itemDepense._sId, _oFormDepenseFixe)">
            <div class="row">
              <div class="form-group col-lg-2" style="padding-top: 15px;">
                  Nom : 
              </div>
              <div class="form-group col-lg-3">
                <mat-form-field>
                  <input  matInput 
                          [placeholder]="itemDepense.sNom" 
                          name="depenseFixeNom{{i}}"
                          id="depenseFixeNom{{i}}"
                          formControlName="nom"
                          >
                </mat-form-field>
              </div>         
              <div class="form-group col-lg-2" style="padding-top: 15px;">
                  Montant : 
              </div>       
              <div class="form-group col-lg-3">
                <mat-form-field>
                    <input  matInput 
                            [placeholder]="itemDepense.nMontant" 
                            name="depenseFixeMontant{{i}}"
                            id="depenseFixeMontant{{i}}"
                            formControlName="montant"
                            >
                  </mat-form-field>
                </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-2" style="padding-top: 15px;">
                  description : 
              </div>
              <div class="form-group col-lg-3">
                <mat-form-field>
                  <input  matInput 
                          [placeholder]="itemDepense.sDescription" 
                          name="depenseFixeDescription{{i}}"
                          id="depenseFixeDescription{{i}}"
                          formControlName="description"
                          >
                </mat-form-field>
              </div>
              <div class="form-group offset-lg-4 col-lg-3">
                <button   type="submit" 
                          mat-button 
                          class="btnSaveProfilChange"
                          matTooltip="Sauvegarder les modification"
                          >
                  save change
                </button>
              </div>
            </div>
            </form>
      <mat-divider></mat-divider>
    </div>
  </mat-expansion-panel>
</mat-accordion>




